.main_portfolio{height: 130px;
    width: 1260px;
    background-color:rgb(195, 0, 255) ;
    padding: 16px;
}
.h{font-size: 20px;
    position: relative;
    left: 1010px
}

.pr{font-size: 20px;
    position: relative;
    top: -23px;
    left: 1090px

}
.bl{
    font-size: 20px;
    position: relative;
    top: -47px;
    left: 1190px;
}
.my{
    color: rgb(247, 9, 56);
}
.link{
    font-size: 22px;
    color: black;
}
.line{
    color: darkslateblue;
}